.config/btop/btop.log
.config/gh/hosts.yml
.config/helm/*
.config/k9s/config.yml
.config/lazygit/state.yml
.config/nushell/history.*
.config/ranger/**/__pycache__/*
.config/yarn/global/*
.config/wslu/*
.config/go/telemetry/*
