# delta
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    dark = true
    line-numbers = true
    navigate = true
    side-by-side = false
    syntax-theme = base16
    blame-palette = "#2f4f4f #4f2f4f #4f4f2f"
    hunk-header-style = "omit"
    file-decoration-style = "#4B5263 box"
    file-style = "white"
    inline-hint-style = "#4B5263"
    line-numbers-left-style = "#4B5263"
    line-numbers-right-style = "#4B5263"

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[push]
    autoSetupRemote = true
