layout {
    default_tab_template {
        children

        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }

    tab name="BTOP" {
        pane {
            command "btop"
            name "btop"
        }
    }
    
    tab name="K9S" {
        pane {
            command "k9s"
            name "k9s"
            start_suspended true
        }
    }
    
    tab name="CONFIG" cwd="/home/thomas/.config" {
        pane {
            command "fish"
            args "-c" "r"
            name "~/.config"
        }
    }

    tab name="~" cwd="/home/thomas" focus=true {
        pane split_direction="vertical" {
            pane size="60%"
            pane split_direction="horizontal" {
                pane
                pane
            }
        }
    }

}
