layout {

    tab_template name="default_tab" {
        children
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
    
    swap_tiled_layout name="STACK" {
        default_tab max_panes=2 {
            pane {
                pane
            }
        }
        default_tab max_panes=9 {
            pane split_direction="vertical" {
                pane size="70%"
                pane stacked=true {
                    pane
                    pane
                    pane
                    pane
                    pane
                    pane
                    pane
                }
            }
        }
    }

    swap_floating_layout {
        floating_panes max_panes=1 {
            pane x="10%" y="10%" width="80%" height="80%"
        }
    }

    default_tab {
        pane split_direction="vertical" {
            pane size="70%" {
                command "helix"
                args "."
                name "EDITOR"
            }
            pane stacked=true {
                pane {
                    command "lazygit"
                    name "GIT"
                }
                pane {
                    command "lf"
                    args "-config" "/home/thomas/.config/lf/lfrc-zellij"
                    name "FILES"
                }
            }
        }
    }
}
