layout {
    tab {
        pane split_direction="vertical" {
            pane {
                command "helix"
                args "."
                name "EDITOR"
                size "60%"
            }
            pane split_direction="horizontal" {
                pane {
                    command "lazygit"
                    name "GIT"
                }
            }
        }

        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
}
