layout {
    tab name="K9S" {
        pane {
            command "k9s"
            name "k9s"
            size "70%"
			close_on_exit true
        }
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
}
